@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.x7-general-terms {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: #e1e1e2;
}

.general-terms-container {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}

.page-title {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0 0 20px 0;
  text-align: center;
}

.paragraph-title {
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 15.5px;
  font-weight: bold;
}

.paragraph-info-one,
.paragraph-info-double,
.paragraph-info-double-AA-AA,
.paragraph-info-triple-A-AA-A,
.paragraph-info-triple-A-A-A,
.paragraph-info-triple-AA-A-A,
.paragraph-info-triple-A-A-AA,
.paragraph-info-none,
.paragraph-info-none-double {
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 15.5px;
  margin-top: -10px;
  text-indent: -2em;
  padding-left: 2em;
}

.paragraph-info-none {
  text-indent: 0;
  padding-left: 2em;
}

.paragraph-info-none-double {
  text-indent: 0;
  padding-left: 2.6em;
}

.paragraph-info-double {
  text-indent: -2.6em;
  padding-left: 2.6em;
}

.paragraph-info-double-AA-AA {
  text-indent: -3.1em;
  padding-left: 3.1em;
}

.paragraph-info-triple-A-AA-A {
  text-indent: -3.5em;
  padding-left: 3.5em;
}

.paragraph-info-triple-A-A-A {
  text-indent: -2.9em;
  padding-left: 2.9em;
}

.paragraph-info-triple-A-A-AA {
  text-indent: -3.4em;
  padding-left: 3.4em;
}

.paragraph-info-triple-AA-A-A {
  text-indent: -3.3em;
  padding-left: 3.3em;
}

.indent-triple-double {
  padding-left: 2.6em;
}

.indent-triple-one {
  padding-left: 2em;
}

.space-below {
  padding-bottom: 20px;
}

.text-italic {
  font-style: italic;
}

.page-link {
  color: #07d8f4;
  text-decoration: none;
}

.page-link:hover {
  text-decoration: underline;
}

@media (max-width: 1440px) {
  .general-terms-container {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .general-terms-container {
    width: 85%;
  }
  .page-title {
    font-size: 1rem;
  }
}
